services:

    paloma_client.twig_profiler_extension:
        class: Paloma\ClientBundle\Twig\ProfilerExtension
        arguments:
            - '@Twig.loader'
            - '%kernel.root_dir%'
        public: false
        tags:
            - { name: twig.extension }

    paloma_client.paloma_profiler:
        class: Paloma\Shop\PalomaProfiler
        public: false

    paloma_client.paloma_data_collector:
        class: Paloma\Shop\PalomaDataCollector
        arguments:
            - '@paloma_client.paloma_profiler'
        public: false
        tags:
            - { name: data_collector, template: '@paloma_shop_client/profiler.html.twig', id: paloma }

    paloma_client.client_factory:
        class: Paloma\ClientBundle\Factory\ClientFactory
        public: true
        arguments:
            - 'base_url injected'
            - 'api_key injected'
            - '@session'
            - '@logger'
            - 'success_log_format injected'
            - 'error_log_format injected'
            - '@paloma_client.paloma_profiler'
            - 'cache_provider injected'
            - '%kernel.debug%'

    Paloma\ClientBundle\Factory\ClientFactory:
        alias: paloma_client.client_factory
        public: true

    paloma_client.default_client:
        class: Paloma\Shop\PalomaClient
        public: true
        factory: 'paloma_client.client_factory:getDefaultClient'

    Paloma\Shop\PalomaClient:
        alias: paloma_client.default_client
        public: true

    paloma_client.paloma_user_provider:
        class: Paloma\ClientBundle\Security\PalomaUserProvider
        arguments:
            - '@security.token_storage'
        public: false

    paloma_client.paloma_user_auth_provider:
        class: Paloma\ClientBundle\Security\PalomaUserAuthProvider
        arguments:
            - '@paloma_client.default_client'
            - '@logger'
        public: false

    paloma_client.paloma_user_auth_listener:
        class: Paloma\ClientBundle\Security\PalomaUserAuthListener
        arguments:
            - 'formFieldNameUsername injected'
            - 'formFieldNamePassword injected'
            - '@security.token_storage'
            - '@security.authentication.manager'
            - '@logger'
        public: false

    paloma_client.encoder.accepting:
        class: Paloma\ClientBundle\Security\AcceptingPasswordEncoder
        public: false
